.footer {
  background-color: var(--main-color);
  color: var(--white);
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer a {
  color: var(--white);
}
.footer-text {
  font-weight: var(--bold);
}
.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer-contact {
  display: flex;
  gap: 1rem;
  padding-top: .4rem;
}
@media(min-width: 768px){
  .footer {
    height: 8rem;
    font-size: 2.4rem;
  }
  .footer-contact {
    padding-top: .6rem;
  }
  .footer-contact svg {
    width: 2.3rem;
    height: 2.3rem;
    transition: .4s;
  }
  .footer-contact svg:hover {
    transform: scale(1.1);
  }
}