.header {
  display: flex;
  justify-content: space-between;
  align-items:  center;
  margin: 1rem 0;
  padding: 0 1rem .2rem 1rem;
  box-shadow: 0 1px 2px rgb(255, 224, 207);
}
.header .header-left {
  display: flex;
  align-items:  center;
}
.header .header-left .header-name {
  color: var(--main-color);
  font-weight: var(--bold);
  font-family: var(--main-font);
  text-transform: uppercase;
  padding-left: .5rem;
}
.header .header-rigth-tablet {
  display: none;
}
.fixed {
  position: fixed;
  background-color: var(--white);
  top: 0;
  width: 100%;
  margin: 0;
  padding-top: 1rem;
  animation: showHeader .2s;
  z-index: 10;
}
@keyframes showHeader {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media(min-width: 768px){
  .header {
    height: 7rem;    
  }
  .header .header-rigth {
    display: none;
  }
  .header .header-rigth-tablet {
    display: flex;
    justify-content: space-around;
    width: 40rem;
  }
  .header .header-left svg {
    width: 5rem;
    height: 5rem;
  }
  .header .header-left .header-name{
    font-size: 2.3rem;
    padding-left: 1rem;
  }
  .header .button-home {
    border-radius: 0;
    width: auto;
    height: auto;
    margin: 0;
    border: none;
    box-shadow: none;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
  }
  .header .button-home:hover, .header .button-home:focus {
    background-size: 100% 2px;
    background-color: var(--white);
    border: none;
  }
  .back-arrow svg {
    transition: .2s;
  }
  .back-arrow svg:hover {
    transform: scale(1.05);
  }
}
@media(min-width: 1024px){
  .header .header-rigth-tablet {
    justify-content: left;
    gap: 4rem;
  }
}